body {
    padding-top: 70px;
    padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
    position: static;
    display: block;
    margin-bottom: 20px;
}

.theme-showcase > p > .btn {
    margin: 5px 0;
}

.theme-showcase .navbar .container {
    width: auto;
}

.thumbnail .rating {
    background-image: url('../img/imdb.star.png');
    position: absolute;
    width: 40px;
    height: 35px;
    left: 24px;
    top: 8px;
}

    .thumbnail .rating span {
        color: black;
        font-weight: bold;
        left: 10px;
        top: 7px;
        font-size: 14px;
        position: absolute;
    }

.thumbnail .desc {
    font-size: 12px;
    text-decoration: none;
    color: black;
    text-align: center;
}

.thumbnail .desc .title {
    font-weight: bold;
}

.thumbnail .desc .genre {
    font-style: italic;
}
